<div class="loading">
  <div class="loading-icon">
    <div class="loading-icon-message">
      <%= image_tag "kiota-logo-no-circle.png", class: "loading-center-image"%>
    </div>
  </div>
</div>

<%= link_to "Go!", property_viewings_feed_path, class: "feed-go", style: "display:none;" %>