<div id="mySwipe" class="swipe">
  <div class="swipe-wrap">
  <div></div>
    <div>
      <div class="feed-container">
        <% if @property.nil? %>
        
          <div style="position: absolute;">
            <p class="text-center">No more properties match your criteria. Click below to view all of the properties you've liked</p>
            <%= link_to "My dashboard", dashboard_path(current_user), class: "btn btn-success text-align-center", style: "display: block; color: white;" %>
          </div>
        <% else %>
          <%= render 'properties/card', property: @property, user: current_user, property_viewing: @property_viewing, feed: true %>
          
        <% end %>
      </div>
    </div>
    <div></div>
  </div>
</div>
