
  <div class="tagline" style="margin-top: 20px">
    <h2>The match-making app for apartment hunting in Tokyo</h2>
  </div>

  <div class="landing-img">
    <%= link_to "", question_path(step:1), class: "get-started-button text-center"  %>
  </div>




