.go_back_button {
  position: absolute;
  top: 5px;
  left: 15px;
  color:white;
  z-index: 3;
  font-size: 14px;
}

.go_back_button:hover {
  text-decoration: none;
  color: $purple;
}

.go_back_arrow {
  position: absolute;
  top: 7px;
  left: 0px;
  z-index: 3;
  color: $purple;
}

.pink-button {
  width: 168px;
  height: 36px;
  background-color: rgba(186, 0, 217, 0.53);
  font-size: 14px;
  font-weight: bold;
  border-radius: 7px;
  color: white;
  border: none;
  margin: 6px;
}

.green-button {
  width: 168px;
  height: 36px;
  background-color: #33C17E;
  font-size: 14px;
  font-weight: bold;
  border-radius: 7px;
  color: white;
  border: none;
  margin: 6px;
}

.button-pill {
  background: rgba(186, 0, 217, 0.53);
  height: 43px;
  width: 155px;
  border-radius: 20px;
  display: flex;
  margin: 4px;
  align-items: center;
  padding-left: 14px;
  color: white;
}

.button-pill-criteria {
  border-radius: 20px;
  display: flex;
  margin: 4px;
  align-items: center;
  
  color: $green;
  

    .button-pill-info p {
      font-size: 14px;
    }
}

.button-pill-info {
  margin-left: 8px;
}

.button-pill-info p {
  font-size: 13px; 
  line-height:17px;
  margin: 0;
}