.dashboard-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
  margin-bottom: 100px;

  // margin-top: 4rem;
  // margin-bottom: 4rem;
  // margin-left: 16px;
  // margin-right: 16px;
  padding-top: 22px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px rgba(214, 214, 214, 0.74);
  padding-bottom: 22px;
}

.dashboard-property {
  // overflow: hidden;
  height: 170px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.reserve-all {
  width: 168px;
  height: 36px;
  background-color: rgba(186, 0, 217, 0.53);
  font-size: 14px;
  font-weight: bold;
  border-radius: 7px;
  color: white;
  border: none;
  margin: 6px;
}

.price h2 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  // margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dashboard-property .dashboard-info {
  padding: 16px;
}

.dashboard-property-container {
  cursor: pointer;

  input[type=checkbox] {
    display: none;
  }

  label {
    height: 170px;
    background: white;

    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  input[type=checkbox]:checked + label {
    color: black
  }

  input[type=checkbox] + label {
    color: #ccc;
  }


}
