.main-container {
  background-color: white;
  width: 90%;
  position: relative;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  text-align: center;
  margin-top: 5rem;
  height: 330px;
  padding-top: 1rem;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-box-shadow: 4px 6px 4px 0px rgba(214,214,214,0.74);
  -moz-box-shadow: 4px 6px 4px 0px rgba(214,214,214,0.74);
  box-shadow: 0px 6px 19px 4px rgba(214, 214, 214, 0.74);
}