.navbar-lewagon {
  background:white;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
}

.navbar-lewagon .navbar-brand img {
  width: 98px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.navbar-lewagon .navbar-brand-dashboard img {
  width: 42px;
  height: 40px;
  top: 6px;
  right: 2px;
  position: absolute;
}

